@media (min-width: 1200px){
	.site-header::after {
	    width: calc(50% - 570px);
	}
}

@media (min-width: 992px) and (max-width: 1199px){
	.site-header::after {
	    width: calc(50% - 470px);
	}
}

@media (min-width: 768px) and (max-width: 991px){
	.site-header::after {
	    width: calc(50% - 360px);
	}
}